global
    maxconn 50000

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option forwardfor

frontend http_front
    bind *:80
    default_backend nodos_hls

backend nodos_hls
    balance leastconn
    option http-server-close
    server hls1 10.0.4.195:80 check inter 2s
    server hls2 10.0.4.166:80 check inter 2s